@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
body {
    margin: 0;
    padding: 0;
}
* {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}
.App {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(111.34deg, #1B0628 0%, #561F78 0.01%, #09144F 100%);
}
.container {
    // padding: 0 20px;
    min-width: 1100px;
    margin: 0 auto;
}
.content {
    width: 100%;
}
.generator {
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    &__title {
        margin: 0;
        margin-bottom: 18px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
    }
    &__settings {
        display: flex;
        flex-direction: column;
    }
    &__slider {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 450px;
    }
    &__slider-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #000000;        
    }
    &__slider-input {
        width: 250px;
        height: 10px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        border-radius: 10px;
    }

    &__slider-value {
        width: 50px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        input {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 10px;
            text-align: center;
        }
    }
    &__symbols {
        margin-top: 25px;
    }
    &__symbols-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
    }
    &__symbols-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        padding: 0;
        height: 205px;
        justify-content: space-between;
        margin-bottom: 0;
    }
    &__symbols-list-item {
        display: flex;
        align-items: center;
    }
    &__symbols-list-item-label {
        display: flex;
        align-items: center;
    }
    &__symbols-list-item-custom-checkbox {
        position: relative;
        margin-right: 10px;
        width: 25px;
        height: 25px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        border-radius: 8px;
        
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #3C6DEA;
            border-radius: 7px;
            opacity: 0;
            transition: 0.2s ease-in-out;

        }
        &::after {
            position: absolute;
            content: '';
            background-image: url('./resourses/ok.svg');
            width: 15px;
            height: 15px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
    }
    &__symbols-list-item-checkbox {
        display: none;
        &:checked + .generator__symbols-list-item-custom-checkbox {
            border: none
        }
        &:checked + .generator__symbols-list-item-custom-checkbox::before,&:checked + .generator__symbols-list-item-custom-checkbox::after{
            opacity: 1;
        }
    }
    &__symbols-list-item-name {
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
    }
    &__results {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__result {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__result-value {
        min-width: 420px;
        height: 55px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        border-radius: 10px;
        margin-right: 15px;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
        padding: 0 15px;
    }
    &__result-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        width: 55px;
        height: 55px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: rgb(245, 245, 245);
        }
        &:active {
            transition: 0.1s ease-in-out;
            background: #3C6DEA;
        }
    }
    &__btn {
        cursor: pointer;
        display: block;
        margin: 0 auto;
        width: 500px;
        height: 50px;
        background: #3C6DEA;
        border-radius: 10px;
        border: none;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
        transition: all 0.3s ease-in-out;
        &:hover {
            filter: brightness(1.1);
        } 
        &:active {
            filter: grayscale(0.2);
        }
    }
}

@media (max-width: 1200px) {
    .container {
        min-width: 960px;
    }
    .App {
        padding: 50px 0;
    }
    .container {
    }
    .content {
    }
    .generator {
        &__title {}
        &__wrapper {}
        &__settings {}
        &__slider {}
        &__slider-text {}
        &__slider-input {}
        &__slider-value {}
        &__symbols {}
        &__symbols-title {}
        &__symbols-list {}
        &__symbols-list-item {}
        &__symbols-list-item-label {}
        &__symbols-list-item-checkbox {}
        &__symbols-list-item-custom-checkbox {}
        &__symbols-list-item-name {}
        &__results {}
        &__result {}
        &__result-value {
            min-width: 350px;
        }
        &__result-btn {}
        &__btn {}
    }
    
}

@media (max-width: 992px) {
    .container {
        min-width: 720px;
    }
    .App {
    }
    .container {
    }
    .content {
    }
    .generator {
        &__title {}
        &__wrapper {
            flex-direction: column;
        }
        &__settings {
            margin-bottom: 30px;
        }
        &__slider {}
        &__slider-text {}
        &__slider-input {
        }
        &__slider-value {}
        &__symbols {}
        &__symbols-title {}
        &__symbols-list {}
        &__symbols-list-item {}
        &__symbols-list-item-label {}
        &__symbols-list-item-checkbox {}
        &__symbols-list-item-custom-checkbox {}
        &__symbols-list-item-name {}
        &__results {
            height: 350px;
        }
        &__result {}
        &__result-value {
            width: 100%;
        }
        &__result-btn {
            min-width: 55px;
            min-height: 55px;
        }
        &__btn {}
    }
    
}

@media (max-width: 768px) {
    .container {
        min-width: 540px;
    }
    .App {
    }
    .container {
    }
    .content {
    }
    .generator {
        &__title {}
        &__wrapper {}
        &__settings {}
        &__slider {
            width: 80%;
        }
        &__slider-text {
            font-size: 16px;
        }
        &__slider-input {
            width: 50%;
        }
        &__slider-value {}
        &__symbols {}
        &__symbols-title {}
        &__symbols-list {}
        &__symbols-list-item {}
        &__symbols-list-item-label {}
        &__symbols-list-item-checkbox {}
        &__symbols-list-item-custom-checkbox {}
        &__symbols-list-item-name {
            font-size: 16px;
        }
        &__results {}
        &__result {}
        &__result-value {
            min-width: 80%;
        }
        &__result-btn {}
        &__btn {
            width: 100%;
        }
    }
    
}

@media (max-width: 576px) {
    .container {
        padding: 0 20px;
        min-width: 90%;
    }
    .generator {
        padding: 15px;
        &__slider {
            width: 100%;
        }
        &__result {
            width: 100%;
        }
        &__result-value {
            width: 90%;
            min-width: 20%;
        }
    }
}